.button {
  display: inline-block;
  padding: 0.8rem 7.2rem 0.7rem 7.3rem;
  font-family: inherit;
  background-color: $main-color;
  border: none;
  border-radius: 0;
  @extend %transition;
  @extend %cursor;
  &:hover {
    color: $light-color;
  }
  &--color {
    @extend %bg-color-main;
  }

  &--border {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    background: $dark-color;
    border: 2px solid $main-color;
    @extend %main-color;
  }
}
