.button {
  display: inline-block;
  padding: 0.8rem 7.2rem 0.7rem 7.3rem;
  font-family: inherit;
  background-color: $main-color;
  border: none;
  border-radius: 0;
  @extend %transition;
  @extend %cursor;
  &--color {
    @extend %bg-color-main;
    &:hover {
      color: $light-color;
    }
  }

  &--border {
    background: $dark-color;
    border: 2px solid $main-color;
    @extend %main-color;
  }
}
