.languages {
  width: 8.9rem;
  height: 5rem;
  @extend %flex-main;
  @extend %justify-space-between;
  @extend %align-center;
  @extend %flex-main;
  margin-right: 3.5rem;
  font-weight: 700;
  @extend %transition;
  @extend %cursor;
  @include media-tablet {
    margin-left: auto;
  }
}

.language-active {
  color: $main-color;
}
