.header__nav {
  margin-left: auto;
  margin-right: 3.6rem;
}

.nav-list {
  @extend %flex-main;
}

.nav-list__item {
  &:not(:last-child) {
    padding-right: 3.1rem;
  }
  &:nth-child(4) {
    padding-right: 3.5rem;
  }
}
.nav-list__link {
  line-height: $lh-link;
  @extend %transition;
  @extend %cursor;
  &:hover {
    @extend %hover-color;
  }
}
