.section-title-wrapper {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
  padding: 10rem 0 6rem;
  @extend %text-center;
}

.section-title {
  &::before {
    content: '';
    position: absolute;
    top: 13.7rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.2rem;
    @extend %bg-color-main;
  }
  span {
    position: relative;
    padding: 0 2rem;
    @extend %bg-color-additory;
  }
}
