.section-title-wrapper {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
  padding: 10rem 0 6rem;
  @extend %text-center;
  @include media-tablet {
    max-width: 36.4rem;
    padding: 1rem 0 5rem;
  }
}

.section-title {
  &::before {
    content: '';
    position: absolute;
    top: 13.8rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.2rem;
    @extend %bg-color-main;
    @include media-tablet {
      top: 2.9rem;
    }
  }
  span {
    position: relative;
    padding: 0 2.1rem;
    @extend %bg-color-additory;
  }
}
