@include font-face('Inter', '../fonts/inter', 400, normal);
@include font-face('Inter', '../fonts/interBold', 700, normal);
@include font-face('Merriweather', '../fonts/merriweather', 400, normal);
@include font-face('Merriweather', '../fonts/merriweatherBold', 700, normal);
