h1 {
  @include font($ff-second, 6rem, 12rem, 700);
  @include media-tablet {
    font-size: $fs-header-tablet;
    line-height: 6.4rem;
  }
}

h2 {
  @include font($ff-second, 4rem, 8rem, 700);
  @extend %main-color;
  @include media-tablet {
    font-size: $fs-header-tablet;
    line-height: $lh-main;
  }
}
h3 {
  @include font($ff-second, 2.8rem, 5.6rem, 700);
}

h4 {
  @include font($ff-second, 2.4rem, 4.8rem, 700);
  @extend %main-color;
}

h5 {
<<<<<<< HEAD
  @include font($ff-main, $fs-main, $lh-main, 700);
=======
  @include font($ff-main, $fs-main, 4rem, 700);
>>>>>>>
}
