/* Text */

%line-link {
  line-height: $lh-link;
}
%line-text {
  line-height: $lh-text;
}

%text-center {
  text-align: center;
}

/* Hover */

%transition {
  transition: 0.5s ease-in-out;
}

%cursor {
  cursor: pointer;
}

%hover-color {
  color: $main-color;
}

%hover-bg {
  background: $main-color;
}
/* Color  */

%main-color {
  color: $main-color;
}
%bg-color-main {
  background-color: $main-color;
}

%bg-color-additory {
  background-color: $dark-color;
}

%bg-theme-color {
  background-color: $theme-color;
}

%dark-color {
  color: $dark-color;
}

%dark-theme-color {
  color: $theme-color;
}

/* flex */

%flex-main {
  display: flex;
  flex-wrap: wrap;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%justify-space-between {
  justify-content: space-between;
}

%justify-center {
  justify-content: center;
}

%align-center {
  align-items: center;
}
