/* Fonts */

@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('../fonts/#{$url}.woff') format('woff'),
      url('../fonts/#{$url}.woff2') format('woff2');
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@mixin font($font-family, $size, $height, $weight: 400, $style: normal) {
  font-family: $font-family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin grid($display, $grid-template-columns, $gap) {
  display: $display;
  grid-template-columns: $grid-template-columns;
  gap: $gap;
}

@mixin media-tablet {
  @media (max-width: map-get($breakpoints, 'md')) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: map-get($breakpoints, 'md')) {
    @content;
  }
}
