.header-container {
  @extend %flex-main;
  @extend %justify-space-between;
  @extend %align-center;
}
.header {
  padding: 2rem 0;
  background-image: url('../images/bg.webp');
  background-position: center 0;
  background-repeat: no-repeat;
}
