.intro {
  padding-top: 15.7rem;
  padding-left: 6.5rem;
  padding-bottom: 33rem;
  background-image: url('../images/bg.webp');
  background-position: center -9.2rem;
  background-repeat: no-repeat;
}

.intro-content {
  max-width: 50rem;
}

.intro-text {
  padding: 1.1rem 3rem 0 0;
}

.intro-button {
  margin-top: 2.5rem;
}
