.skills-items {
  @include grid(grid, repeat(4, 1fr), 4rem);
}

.skill-item {
  background-repeat: no-repeat;
  @extend %text-center;
  &:nth-child(1) {
    background-image: url('../icons/sprite.svg#i-skills-1');
    background-size: 6rem;
    background-position: center -0.5rem;
  }
  &:nth-child(2) {
    background-image: url('../icons/sprite.svg#i-skills-2');
    background-size: 5.8rem;
    background-position: center -0.5rem;
  }
  &:nth-child(3) {
    background-image: url('../icons/sprite.svg#i-skills-3');
    background-size: 6.4rem;
    background-position: center -0.98rem;
  }
  &:nth-child(4) {
    background-image: url('../icons/sprite.svg#i-skills-4');
    background-size: 4.9rem;
    background-position: center 0.1rem;
  }
}

.skill-item__title {
  padding-top: 10rem;
  @extend %font-bold;
}

.skill-item__description {
  padding-top: 2rem;
  padding-inline: 2rem;
  font-size: $fs-text;
  line-height: $lh-text;
}
