.skills__container {
  padding-bottom: 0.8rem;
  @include media-tablet {
    padding-bottom: 4.7rem;
  }
}
.skills-title-wrapper {
  padding-bottom: 5.55rem;
  @include media-tablet {
    padding-bottom: 6.1rem;
  }
}
.skills-items {
  @include grid(grid, repeat(4, 1fr), 4rem);
  @include media-tablet {
    grid-template-columns: 1fr 1fr;
    gap: 3.3rem 4.6rem;
  }
}

.skill-item {
  display: grid;
  justify-items: center;
  background-repeat: no-repeat;
  @extend %text-center;
  &:nth-child(1) {
    background-image: url('../icons/sprite.svg#i-skills-1');
    background-size: 6.1rem;
    background-position: center top;
  }
  &:nth-child(2) {
    background-image: url('../icons/sprite.svg#i-skills-2');
    background-size: 5.8rem;
    background-position: center top;
    @include media-tablet {
      padding-right: 0.6rem;
    }
  }
  &:nth-child(3) {
    background-image: url('../icons/sprite.svg#i-skills-3');
    background-size: 6.4rem;
    background-position: center top;
    @include media-tablet {
      .skill-item__title {
        padding-top: 8.6rem;
      }
    }
  }
  &:nth-child(4) {
    background-image: url('../icons/sprite.svg#i-skills-4');
    background-size: 4.9rem;
    background-position: center 0.7rem;
    @include media-tablet {
      background-position: center 0.7rem;
      padding-right: 0.8rem;
      .skill-item__title {
        padding-top: 8.6rem;
      }
    }
  }
}

.skill-item__title {
  padding-top: 10.7rem;
  @include media-tablet {
    padding-top: 8.5rem;
  }
}

.skill-item__description {
  max-width: 28rem;
  padding-top: 2rem;
  font-size: $fs-text;
  line-height: $lh-text;
  @include media-tablet {
    line-height: 2.2rem;
    padding-bottom: 3.5rem;
  }
}
