.skills__container {
  padding-bottom: 0.8rem;
}
.skills-title-wrapper {
  padding-bottom: 5.55rem;
}
.skills-items {
  @include grid(grid, repeat(4, 1fr), 4rem);
}

.skill-item {
  background-repeat: no-repeat;
  @extend %text-center;
  &:nth-child(1) {
    background-image: url('../icons/sprite.svg#i-skills-1');
    background-size: 6.1rem;
    background-position: center top;
  }
  &:nth-child(2) {
    background-image: url('../icons/sprite.svg#i-skills-2');
    background-size: 6.1rem;
    background-position: center top;
  }
  &:nth-child(3) {
    background-image: url('../icons/sprite.svg#i-skills-3');
    background-size: 6.45rem;
    background-position: center top;
  }
  &:nth-child(4) {
    background-image: url('../icons/sprite.svg#i-skills-4');
    background-size: 4.9rem;
    background-position: center 0.7rem;
  }
}

.skill-item__title {
  padding-top: 10.7rem;
}

.skill-item__description {
  padding: 2rem 2rem 0.1rem 2rem;
  font-size: $fs-text;
  line-height: $lh-text;
}
